<!doctype html>
<html lang="id">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <main class="mb-5">
            {{ block "main" . }}
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-9">
                        {{ block "article" . }}{{ end }}
                    </div>

                    <div class="col-lg-3">
                        {{ block "widget" . }}{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </main>
        {{ partial "footer.html" . }}
        {{ block "addon" . }}{{ end }}
    </body>
</html>
