$font-paragraph: 19px;

.artikel {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 31px;
  }

  h4 {
    font-size: 29px;
  }

  h5 {
    font-size: 27px;
  }

  h6 {
    font-size: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 72px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  ol, ul {
    margin-bottom: 18px;

    li {
      font-size: $font-paragraph;
      font-weight: lighter;
    }
  }

  p {
    font-size: $font-paragraph;
    font-weight: lighter;
  }

  img {
    width: 100%;
    margin-bottom: 25px;
  }

  li img {
    text-decoration: none;
    outline: none;
  }
}
