.theme--dark.v-application {
  //background-color: #2A2C2B;
  background-color: #2F3137;
}

.v-toolbar__title.pointing:hover {
  cursor: pointer;
}

.nomarginroot .v-list-item--active {
  color: #1976d2 !important;

  &::before {
    opacity: 1;
    background-color: transparent;
  }
}

.v-list-group.nomargin {
  .v-list-item__icon:first-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  a.v-list-item, a.v-list-item--link {
    padding-left: 0;
  }

  a.v-list-item--link.v-list-item--active::before {
    opacity: 1;
    background-color: transparent;
    border-right: 5px solid #1976d2;
  }

  .v-list-group__header.v-list-item {
    padding-right: 0;
  }
}

.v-list-item.nomargin {
  padding-right: 0;

  a {
    padding-left: 0 !important;

    &.v-list-item--active::before {
      opacity: 1;
      background-color: transparent;
      border-right: 5px solid #1976d2;
    }
  }
}

.growing {
  .v-image__image--cover {
    transition: all .2s ease-in-out;
    clip-path: inset(0 0 0 0);
  }

  &:hover {
    .v-image__image--cover {
      transform: scale(1.1);
      clip-path: inset(4.5% 4.5% 4.5% 4.5%);
    }
  }
}
