.hero {
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero .theBox {
    background-color: rgba(33, 37, 41, 0.5);
}

.hero .typed-cursor {
    color: #ffc107;
    font-size: 24px;
}