.hero {
    /*background-image: url("https://i.pinimg.com/originals/92/58/f0/9258f03b22fbf1c96b0b8519d4bf90d4.png");*/
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero .theBox {
    background-color: rgba(33, 37, 41, 0.5);
}

.hero .typed-cursor {
    color: #ffc107;
    font-size: 24px;
}