.card-avatar {
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% center;
}

.growing .card-avatar {
    transition: all .2s ease-in-out;
    clip-path: inset(0 0 0 0);
}

.growing:hover .card-avatar {
    transform: scale(1.1);
    clip-path: inset(4.5% 4.5% 4.5% 4.5%);
}
