body {
    font-family: 'Poppins', sans-serif;
}

article.section {
    font-size: larger;
}

article#cerita h3 {
    color: #dc3545;
}

article#cerita p {
    font-size: larger;
}

article#cerita img {
    max-width: 100%;
}