<div class="alert alert-danger rounded-0 py-4 text-white banner border-0" role="alert">
  <div class="container">
    <div class="row align-items-center justify-content-evenly">
      <div class="col-md-8 col-lg-8 align-self-center">
        <p class="h5 text-center text-md-left">{{ . }}</p>
      </div>
      <div class="col-md-4 col-lg-2 d-grid">
        <a href="https://bit.ly/ChatBBTA3"
           target="_blank"
           rel="noreferrer"
           class="btn btn-warning btn-lg shadow text-uppercase font-weight-bold">Yuk Mulai</a>
      </div>
    </div>
  </div>
</div>