<div class="alert alert-danger rounded-0 py-4 text-white banner border-0" role="alert">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-8 col-lg-8 align-self-center">
        <p class="h5 text-center text-md-left">{{ . }}</p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="https://discord.gg/WVYmc6K"
           target="_blank"
           class="btn btn-primary btn-lg btn-block shadow text-uppercase">Yuk Mulai</a>
      </div>
    </div>
  </div>
</div>