<footer class="bg-danger">
  <div class="container-fluid overflow-hidden">
    <div class="row gx-3">
      <div class="col-lg-3 py-5">
        <div class="text-left mb-3">
          {{ range .Site.Data.medsos }}
          <a href="{{ .link }}" class="btn btn-outline-light dimmed btn-sm border-0" target="_blank" rel="noreferrer">
            <i class="{{ .icon }}" style="font-size: 23px;"></i>
          </a>
          {{ end }}
        </div>

        <p>
          BBTA3 (Balai Besar Teknologi Aerodinamika, Aeroelastika dan Aeroakustika) merupakan transformasi dari unit
          kerja lama UPT LAGG dengan konsep baru dengan cakupan keahlian yang lebih luas.
        </p>

        <p>
          Kawasan PUSPIPTEK, Gd. 240, Setu, Tangerang Selatan – Banten (15314)
        </p>

        <a href="https://siskolapi.bppt.go.id/" target="_blank" rel="noreferrer">
          <img src="/images/lapor/NoGratifikasi.svg"
               class="img-fluid"
               alt="Stop Gratifikasi"
               style="width: 100%;" />
        </a>

        <div class="mb-4"></div>

        <a href="https://www.lapor.go.id/" target="_blank" rel="noreferrer">
          <img
            data-src="/images/lapor/lapor_300.jpg"
            data-srcset="/images/lapor/lapor_300.jpg 300w, /images/lapor/lapor_628.jpg 628w, /images/lapor/lapor_900.jpg 900w"
            class="shadow lazyload"
            data-sizes="auto"
            alt="layanan lapor bppt"
            style="width: 100%" />
        </a>
      </div>

      <div class="col-lg-3 py-5">
        <h4 class="text-uppercase">Video BBTA3</h4>

        {{ range where .Site.Data.media "kategori" "VIDEO" }}
        <a href="https://www.youtube.com/watch?v={{ .id }}" class="text-decoration-none link-light" target="_blank" rel="noreferrer">
          <div class="card mb-3 bg-darker">
            <div class="row g-0 align-items-center">
              <div class="col-sm-5 col-md-6 col-lg-4">
                <div class="mx-auto card-avatar-horizontal" style="background-image: url('{{ .thumbnail }}');"></div>
              </div>
              <div class="col-sm-7 col-md-6 col-lg-8">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><i class="fab fa-youtube"></i></h5>
                  <p class="card-text">{{ .deskripsi | truncate 60 }}</p>
                  <p class="card-text"><small class="text-muted">{{ .tanggal }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{ end }}
      </div>

      <div class="col-lg-3 py-5">
        <h4 class="text-uppercase">Kabar BBTA3</h4>

        {{ range where .Site.Data.media "kategori" "BBTA3_BPPT" }}
        <a href="https://twitter.com/{{ .kategori }}/status/{{ .id }}" class="text-decoration-none link-light" target="_blank" rel="noreferrer">
          <div class="card mb-3 bg-darker">
            <div class="row g-0 align-items-center">
              <div class="col-sm-5 col-md-6 col-lg-4">
                {{ if eq .thumbnail "NULL" }}
                <div class="mx-auto card-avatar-horizontal" style="background-image: url('/images/blank.png')"></div>
                {{ else }}
                <div class="mx-auto card-avatar-horizontal" style="background-image: url('{{ .thumbnail }}')"></div>
                {{ end }}
              </div>
              <div class="col-sm-7 col-md-6 col-lg-8">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><i class="fab fa-twitter"></i></h5>
                  <p class="card-text">{{ .deskripsi | truncate 50 }}</p>
                  <p class="card-text"><small class="text-muted">{{ .tanggal }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{ end }}
      </div>

      <div class="col-lg-3 py-5">
        <h4 class="text-uppercase">Kabar BPPT</h4>

        {{ range where .Site.Data.media "kategori" "BPPT_RI" }}
        <a href="https://twitter.com/{{ .kategori }}/status/{{ .id }}" class="text-decoration-none link-light" target="_blank" rel="noreferrer">
          <div class="card mb-3 bg-darker">
            <div class="row g-0 align-items-center">
              <div class="col-sm-5 col-md-6 col-lg-4">
                {{ if eq .thumbnail "NULL" }}
                <div class="mx-auto card-avatar-horizontal" style="background-image: url('/images/blank.png')"></div>
                {{ else }}
                <div class="mx-auto card-avatar-horizontal" style="background-image: url('{{ .thumbnail }}')"></div>
                {{ end }}
              </div>
              <div class="col-sm-7 col-md-6 col-lg-8">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><i class="fab fa-twitter"></i></h5>
                  <p class="card-text">{{ .deskripsi | truncate 50 }}</p>
                  <p class="card-text"><small class="text-muted">{{ .tanggal }}</small></p>
                </div>
              </div>
            </div>
          </div>
        </a>
        {{ end }}
      </div>

      <hr>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <p class="text-lg-start text-center">©️ {{ now.Format "2006"}} ❤️
          <a href="https://bit.ly/GithubBBTA3"
             class="link-warning text-decoration-none"
             target="_blank"
             rel="noreferrer">AEROTRONIKA</a>

          {{ with $gitTagsUrl := getJSON "https://api.github.com/repos/bbta3-bppt/website/tags" }}
            {{ range first 1 $gitTagsUrl }}
              - <a
                  href="https://github.com/bbta3-bppt/website/releases/tag/{{ .name }}"
                  class="link-warning text-decoration-underline font-italic"
                  rel="noreferrer"
                  target="_blank">
                  {{ .name }}
              </a>
            {{ end }}
          {{ else }}
          {{ end }}
        </p>
      </div>

      <div class="col-lg-8">
        <p class="text-lg-end text-center">
          📞 +62 21 756 090 2
          📠 +62 21 756 090 1
          ✉️ sekr-bbta3@bppt.go.id
        </p>
      </div>
    </div>
  </div>
</footer>

{{ template "_internal/google_analytics_async.html" . }}
<!-- Popper.js first, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lazysizes@5.2.2/lazysizes.min.js"></script>
