<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Permalink }}">
            <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="logo bbta3 bppt" loading="lazy">
            BBTA3 BPPT
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">KEAHLIAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">FASILITAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">TENTANG KAMI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">INTERNAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">PRODUK HUKUM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="http://ejurnal.bppt.go.id/index.php/JAERO" target="_blank">E-JURNAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://e-ppid.bppt.go.id/" target="_blank">E-PPID</a>
                </li>
            </ul>
        </div>
    </div>
</nav>