<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-darker">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="logo bbta3 bppt" loading="lazy">
            BBTA3 BPPT
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="nav-item mr-1">
                    {{ $checkMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    {{ $checkSubMenu := in (trim $currentPage.RelPermalink "/") (lower .Name) }}
                    <a class="text-uppercase nav-link {{if $checkMenu }}active{{else if $checkSubMenu}}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>